# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=
APP_ENV=development

# Database Configuration
DB_DRIVER=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_CHARSET=
DB_PREFIX=

# For API
JWT_SECRET=
REFRESH_TOKEN_KEY=